<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>owo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <a th:href="@{/new}" class="btn btn-primary">Nuevo</a>
<br><br>
    <table class="table">
        <thead>
        <th>Id</th>
        <th>RUN</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>enViaje</th>
        <th>Edad</th>
        <th>Tiempo</th>
        <th>Amonestaciones</th>
        <th>localidad</th>
        <th>acciones</th>


        </thead>
        <tbody>
        <tr th:each="conductor:${conductores}">
            <td th:text="${conductor.id}"></td>
            <td th:text="${conductor.run}"></td>
            <td th:text="${conductor.nombre}"></td>
            <td th:text="${conductor.apellido}"></td>
            <td th:text="${conductor.enViaje}"></td>
            <td th:text="${conductor.edad}"></td>
            <td th:text="${conductor.aniosEmpleo}"></td>
            <td th:text="${conductor.amonestaciones}"></td>
            <td th:text="${conductor.localidad}"></td>
            <td>
                <a th:href="@{/edit/}+${conductor.id}" class="btn btn-warning">Editar</a>
                <a th:href="@{/delete/}+${conductor.id}" class="btn btn-danger">Eliminar</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>